@import "~@angular/material/theming";
@import '../../styles.scss';

.side-nav{
  min-width: 220px;
  margin: auto;
}

.mat-nav-list{
  margin:0px;
  padding: 0px;
}
.mat-list-item{
  font-size:1.1em;
}

.gray{
  background-color:gray;
}

.mat-list-item.active {
  background: mat-color($accent);
}

.content {
  padding: 20px;
}
