<div class="container background">
  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Teacher Helper</span>
  </mat-toolbar>

  <mat-sidenav-container class="container dash-bg">
    <!-- Sidenav -->
    <mat-sidenav class="side-nav background-accent" #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened">
      <mat-nav-list>
        <mat-list-item [routerLink]="['/students']" [routerLinkActive]="router.url === '/students' ? ['active'] : ''" >
          <mat-icon matListIcon>person</mat-icon>
          <h3 matLine> Alunos </h3>
        </mat-list-item>
        <mat-list-item  [routerLink]="['/rooms']" [routerLinkActive]="router.url === '/rooms' ? ['active'] : ''" >
          <mat-icon matListIcon>content_paste</mat-icon>
          <h3 matLine> Salas </h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="content">

      <ng-content></ng-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
