<app-dashboard>
  <div class="title-box header-box">
    <div *ngIf="choosenRoom.name !== undefined; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <h1 class="title" >Sala - {{choosenRoom.name}}</h1>
    </ng-template>
    <ng-template #elseBlock >
      <h1 class="title">Escolha uma Sala</h1>
    </ng-template>

    <div class="right-box" *ngIf="this.choosenRoom.name !== undefined">
      <div class="select-inp">
        <mat-icon (click)="changeRowValue(1)">add_box</mat-icon>
        <mat-icon (click)="changeRowValue(-1)">indeterminate_check_box</mat-icon>
        <span>Linhas: {{this.choosenRoom.rows !== null ? this.choosenRoom.rows : "0"}}</span>
      </div>
    </div>
    <div class="right-box" *ngIf="this.choosenRoom.name !== undefined">
      <div class="select-inp">
        <mat-icon (click)="changeColumnValue(1)">add_box</mat-icon>
        <mat-icon (click)="changeColumnValue(-1)">indeterminate_check_box</mat-icon>
        <span>Colunas: {{this.choosenRoom.columns !== null ? this.choosenRoom.columns : "0"}}</span>
      </div>
    </div>

    <div class="right-box">
      <mat-form-field appearance="fill" class="select-inp">
        <mat-label>Selecione uma Sala</mat-label>
        <mat-select (selectionChange)="onSelectChange($event.value)">
          <mat-option *ngFor="let room of rooms; let i = index" [value]="i">
            {{room.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="content-container">
    <div id="room-block">
      <div id="desk-container">
        <table
          [attr.height] = "roomLayout.height"
          [attr.width] = "roomLayout.width"
        >
          <tr *ngFor="let deskLine of desks;let x = index;">
            <td *ngFor="let desk of deskLine;let y = index;">
              <app-desk
                [posX] = "x"
                [posY] = "y"
              ></app-desk>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</app-dashboard>
